.container {
  width: 50%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .logo {
    width: 300px;
  }

  @media screen and (max-width: 890px) {
    width: 70%;
    margin-bottom: 40px;

    .logo {
      margin: auto;
    }
  }

  @media screen and (max-width: 470px) {
    width: 95%;
  }
}
