html,
body {
  padding: 0;
  margin: 0;
  font-family: "montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;

  @media screen and (max-width: 890px) {
    height: 100%;
    overflow: auto;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: inherit;
}
